@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-color:#d0661b; height:90vh">
    <div class="container pt-5">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col pt-5">
                        <b style="color:#ffffff;font-size:2.5em;">Search your favourite Artists</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-3">
                        <h5 style="color:#ffffff;">Find data, informations and songs about your favourite artists</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-5">
                        <a class="btn-lg rounded" style="background-color:black;color:white;" href="/Artists">SEARCH NOW</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="background-color:#3a75b6; height:90vh">
    <div class="container pt-5">
        <div class="row">
            <div class="col" style="text-decoration-color:#ffffff;">
                <div class="row">
                    <div class="col pt-2">
                        <h2 style="color:#ffffff;">Search your favourite Artists</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-2">
                        <h5 style="color:#ffffff;">Find data, informations and songs of your favourite artists</h5>

                    </div>
                </div>
                <div class="row">
                    <div class="col pt-2">
                        <a class="btn-lg btn-dark rounded" href="/Artists">SEARCH NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
