@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="row">
        <div class="col">
            <input type="search" class="form-control" id="inputPassword2" placeholder="Search an artist" asp-for="Artist">
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary mb-3" value="Search">
        </div>
    </div>
    <div class="text-center">
        <p>@Model.Result</p>
    </div>
</form>

