@page
@model Musica.SongsModel
@{
    ViewData["Title"] = "Search artist";
}
<form method="post">
    <div class="row">
        <div class="col-7">
            <input type="search" class="form-control" placeholder="Search a song" asp-for="SearchedSong">
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary mb-3" value="Search">
        </div>
    </div>
    @if (Model.Songs != null)
    {
        @foreach (var s in Model.Songs)
        {
            <div class="container border rounded shadow m-2">
                <div class="row m-2">
                    <div class="col-4">
                        <img src="@s.header_image_url" class="rounded float-start" alt="@s.full_title img" style="max-height:100px;max-width:100px">
                    </div>
                    <div class="col">
                        <b><i>@s.title</i></b>
                        <br />
                        <i>@s.artist_names</i>
                    </div>
                </div>
            </div>
        }
    }
</form>