@page
@model Musica.SongsModel
@{
    ViewData["Title"] = "Search artist";
}
<form method="post">
    <div class="row">
        <div class="col-7">
            <input type="search" class="form-control" placeholder="Search a song" asp-for="SearchedSong">
        </div>
        <div class="col">
            <input type="submit" class="btn btn-primary mb-3" value="Search">
        </div>
    </div>
</form>